.wrong-url {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: 'assets/images/background.jpg';
}

.wrong-url > div {
  width: 70%;
  padding: 30px 20px;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  color: white;
  border-radius: 5px;
}

.wrong-url .head {
  font-size: 20px;
}

.wrong-url .text {
  margin-top: 10px;
}