page-qr-code-scan {
  width: 100%;
  height: 100%;
  position: relative;

  .help-message-wrapper {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .help-message {
      padding: 10px 20px;
      background-color: rgba(0,0,0,0.4);
      color: rgba(255,255,255,1);
      border-radius: 20px;
    }
  }

  .light-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    
    &.enable {
      background-color: rgba(255,255,255,0.8);
      color: rgba(0,0,0,1);
    }
  }
}
