.image {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    box-shadow: 5px 7px 10px #686868;
}

.descr {
    margin-top: 20%;
    align-items: center;
}