<div class="app-main">
  <div class="header">
    <div *ngIf="isButtonVisible" class="back-button" (click)="backClick()"><i class="fa fa-arrow-left"></i></div>
    <h3>{{(companyName | async)?.value}}</h3>
    <div *ngIf="isButtonConfirmVisible" class="confirm-button" (click)="confirmClick()"><i class="fas fa-check"></i></div>
  </div>
  <div class="notification">
    <button mat-fab color="primary"><i class="fas fa-bell"></i></button>
  </div>
  <mat-tab-group headerPosition="below" selectedIndex="1" (selectedIndexChange)="setVisibility($event)">
    <mat-tab label="Check">
      <div class="content">
        <app-check [checkProducts]="checkProducts"></app-check>
      </div>
    </mat-tab>
    <mat-tab label="Menu">
      <div class="content">
        <app-categories [companyName]="companyName"></app-categories>
      </div>
    </mat-tab>
    <mat-tab label="About">
      <div>
        <app-about [companyName]="companyName"></app-about>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>